<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>

	<script type="text/javascript">
	
		var restaurant = undefined;
		
		var currentLat = 22.277163;
		var currentLong = 114.182177;
		
		$(document).ready(function() 
		{
			restaurant = <%- JSON.stringify(restaurant) %>;
			
			$("#distanceLabel").html("<h3>" +
			Math.round(distance(currentLat , currentLong , restaurant.MapLatitude , restaurant.MapLongitude) * 100)/100 + "km </h3>");
		});
		
		function onClick()
		{
			var flag = $(this).attr('data-click-state');
			flag = flag == undefined ? 0 : flag;
			
			$(this).attr('data-click-state', 1 - flag);
			console.log($(this).attr('data-click-state'));
		}
		
		function onSubmit(flag)
		{	
			var url = "/submit?result=" + flag + "&id=" + restaurant.Id + "&distance=" + 
			distance(currentLat , currentLong , restaurant.MapLatitude , restaurant.MapLongitude) 
			+ "&price=" + restaurant.Price + "&categories=";
			for (var i = 0; i < restaurant.Categories[0].Category.length; i ++)
			{
				if (i != 0)
				{
					url += "|";
				}
				
				url += restaurant.Categories[0].Category[i].Id;
			}
			
			url += "&smileRatio=" + (parseInt(restaurant.ScoreSmile) * 1.0/(parseInt(restaurant.ScoreSmile) + parseInt(restaurant.ScoreOK) + parseInt(restaurant.ScoreCry)));
			
			window.location = url;
		}
		


		function distance(lat1, lon1, lat2, lon2, unit)
		{
			var radlat1 = Math.PI * lat1/180
			var radlat2 = Math.PI * lat2/180
			var radlon1 = Math.PI * lon1/180
			var radlon2 = Math.PI * lon2/180
			var theta = lon1-lon2
			var radtheta = Math.PI * theta/180
			var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
			dist = Math.acos(dist)
			dist = dist * 180/Math.PI
			dist = dist * 60 * 1.1515
			// calcualte in km
			dist = dist * 1.609344;
			return dist
		}                                                                           
		
	</script>
</head>
<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<h2 style="display:none;" id="restaurant"><%=restaurant %></h2>
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-6 col-md-3">
				    <a href="#" class="thumbnail">
				      <img src="<%- restaurant.DoorPhotos[0].DoorPhoto[0].UrlLarge %>" alt="...">
				    </a>
				</div>
				<div class="col-md-8 text-center" ><h1><a href="<%- restaurant.PoiUrl %>" target="_blank"><%- restaurant.NameLang1 %></a></h1></div>
			</div>
			<div class="row">				
				<div class="col-md-2"><h3>Price</h3></div>
			  	<div class="col-md-4"><h3><%- restaurant.Price %></h3></div>			  
			</div>
			<div class="row">				
				<div class="col-md-2"><h3>Distance</h3></div>
			  	<div class="col-md-4" id="distanceLabel"></div>			  
			</div>
			
			<br><br>
			
			
			<div class="col-md-14 text-center">
			<button type="button button-center" class="btn btn-lg btn-success" onclick="onSubmit(true)">
   				 I want this!
			</button>
			<button type="button" class="btn btn-lg btn-danger" onclick="onSubmit(false)">
   				 No I dont want this
			</button>
		</div>
		</div>
		
		<!-- button type="button" class="btn btn-primary" data-toggle="button" onclick="onClick()">
   				 Single toggle
			</button>
			<button id="button2" type="button" class="btn btn-primary" data-toggle="button" onclick="onClick()">
   				 Single 2
			</button -->
	</main>
	
</body>
</html>