<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>

	<script type="text/javascript">
	
		var restaurant = undefined;
		
		var currentLat = 22.277163;
		var currentLong = 114.182177;
		
		$(document).ready(function() 
		{
			restaurants = <%- JSON.stringify(restaurants) %>;
		});
		
		function onSubmit(key , flag)
		{	
			var restaurant = restaurants[key];
			var url = "/submit?result=" + flag + "&id=" + restaurant.Id + "&distance=" + 
			distance(currentLat , currentLong , restaurant.MapLatitude , restaurant.MapLongitude) 
			+ "&price=" + restaurant.Price + "&categories=";
			for (var i = 0; i < restaurant.Categories[0].Category.length; i ++)
			{
				if (i != 0)
				{
					url += "|";
				}
				
				url += restaurant.Categories[0].Category[i].Id;
			}
			
			url += "&smileRatio=" + (parseInt(restaurant.ScoreSmile) * 1.0/(parseInt(restaurant.ScoreSmile) + parseInt(restaurant.ScoreOK) + parseInt(restaurant.ScoreCry)));
			
			window.location = url;
		}
		


		function distance(lat1, lon1, lat2, lon2, unit)
		{
			var radlat1 = Math.PI * lat1/180
			var radlat2 = Math.PI * lat2/180
			var radlon1 = Math.PI * lon1/180
			var radlon2 = Math.PI * lon2/180
			var theta = lon1-lon2
			var radtheta = Math.PI * theta/180
			var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
			dist = Math.acos(dist)
			dist = dist * 180/Math.PI
			dist = dist * 60 * 1.1515
			// calcualte in km
			dist = dist * 1.609344;
			return dist
		} 
		


		function distance(lat1, lon1, lat2, lon2, unit)
		{
			var radlat1 = Math.PI * lat1/180
			var radlat2 = Math.PI * lat2/180
			var radlon1 = Math.PI * lon1/180
			var radlon2 = Math.PI * lon2/180
			var theta = lon1-lon2
			var radtheta = Math.PI * theta/180
			var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
			dist = Math.acos(dist)
			dist = dist * 180/Math.PI
			dist = dist * 60 * 1.1515
			// calcualte in km
			dist = dist * 1.609344;
			return dist
		}                                                                           
		
	</script>
</head>
<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<% for(var i=0; i<restaurants.length; i++) {%>
				<div class="row">
			   		
			   		<div class="col-md-6" ><h1><a href="<%- restaurants[i].PoiUrl %>" target="_blank"><%- restaurants[i].NameLang1 %></a></h1></div>
			   		<div class="col-md-3">
			   			<button type="button" class="btn btn-lg btn-danger" onclick="onSubmit(<%- i %> , false)">
			   				 Not this
						</button>
					</div>
			   		<div class="col-md-3"><h3><%- Math.round(restaurants[i].score[0] * 100) / 100 %></h3></div>		
			   		
   					
			   		
			   	</div>
			<% } %>
							
			<br><br>
			

		</div>
		</div>
	</main>
	
</body>
</html>