<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<span class="glyphicon glyphicon glyphicon-list"></span>				
			</a>
		</div>

					
		<ul class="nav navbar-nav">
			<li>
				<a href="/">Home</a>								
			</li>
			
		</ul>
	  
	</div>
</nav>