
<meta charset="UTF-8">
<title>Super Awesome</title>

<!--  It is a good idea to bundle all CSS in one file. The same with JS -->
 
 
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>



<!-- 
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>

 <!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/style.css">

<!--  Bootstrap -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>




  
<!--  Data tables -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" />

<!-- DataTables CSS -->

<script type="text/javascript">
	function DateDemo(){
   var d, s = "Today's date is: ";           // 声明变量。
   d = new Date();                           // 创建 Date 对象。
   s += d.getYear();                         // 获取年份。
   s += ((d.getMonth() + 1)+"");  // 获取月份。
   s += (d.getDate()+"");         // 获取日。
   s += (d.getHours()+"");        // 获取时。
   s += (d.getMinutes()+"");       // 获取分。
   s += (d.getSeconds()+"");       // 获取秒。

   return(s);                                // 返回日期。
}

	
</script>

<style>
	body 	{ padding-top:50px; }
</style>